{% extends 'clustering/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <form class="needs-validation" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-row">
            <div class="input-group">
              <div class="custom-file">
                  <input type="file" class="custom-file-input" name="file" id="id_file"/>
                  <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
              </div>
            </div>
        </div>

         <div class="form-row">
            <div class="col-md-1 mb-3">
              <label for="k">k</label>
                    {{ form.k }}
            </div>
            <div class="col-md-1 mb-3">
              <label for="eps">eps</label>
                    {{ form.eps }}
            </div>
         </div>
          <button class="btn btn-primary" type="submit">Посчитать</button>
    </form>
{% endblock %}