{% extends 'clustering/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <form class="needs-validation" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if not is_visible %}
            <div class="form-row">
                <div class="input-group">
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" name="file" id="id_file"/>
                      <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" name="_upload">Upload</button>
                  </div>
                </div>
            </div>
        {% endif %}
        {% if is_visible %}
             <div class="form-row">
                <div class="col-md-1 mb-3">
                  <label for="k">k</label>
                        {{ form.k }}
                </div>
                <div class="col-md-1 mb-3">
                  <label for="eps">eps</label>
                        {{ form.eps }}
                </div>


                <div class="col-md-2 mb-3">
                    <label for="latitude">{{form.latitude.label}}</label>
                    {{ form.latitude }}
                </div>
                <div class="col-md-2 mb-3">
                    <label for="longitude">{{form.longitude.label}}</label>
                    {{ form.longitude }}
                </div>
                 <div class="col-md-2 mb-3">
                        <label for="algorithm">{{form.algorithm.label}}</label>
                        {{ form.algorithm }}
                 </div>
            </div>
            <div class="form-row form-check-inline">
{#              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">#}
              <label class="form-check-label" for="features">{{form.features.label}}</label>
                {{ form.features }}
            </div>
            <div class="form-row mt-1 mb-2">
                <button class="btn btn-primary" type="submit" name="_calculate">Посчитать</button>
            </div>
        {% endif %}
    </form>
    {% if plt_2d or plt_clusters%}
            <div>
                <ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">2d</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Результат кластеризации</a>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      {% if plt_2d %}
                        <table align="left" width="99%">
                        <th>
                                {{ plt_2d|safe }}
                        </th>
                        </table>
                      {% endif %}
                  </div>
                  <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      {% if plt_clusters %}
                        <table align="left" width="99%">
                        <th>
                                {{ plt_clusters|safe }}
                        </th>
                        </table>
                      {% endif %}
                  </div>
                </div>
            </div>
    {% endif %}
{% endblock %}